.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 900px) {
      width: auto;
  }

  

  .sign-in-btn {
    display: flex;
    justify-content: space-between;
  }

  .google-img {
    height: 25px;
  }
}
